/* IMPORT */

@import url('style.min.css');

/* HERO */

.hero__container{
    display: flex;
    padding: 117px 100px;
    align-items: center;
    position: relative;
    z-index: 0;
}

.hero__container::before{
    content: '';
    width: calc(100% - 30px);
    height: 100%;
    background-image: url('../img/bg-img.jpg');
    background-position: 0 -531px;
    background-size: 1947px 1298px;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero__text{
    width: 493px;
}

.hero__title{
    font-size: 7.2rem;
    line-height: 72px;
    margin-bottom: 35px;
}

.hero__par{
    width: 440px;
    color: var(--light__cream);
    opacity: .8;
    margin-bottom: 55px;
}

/* PRODUCTS */

.content__products{
    padding-top: 135px;
    padding-bottom: 200px;
}

.product__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    position: relative;
}

.product__container::before{
    content: '';
    display: block;
    width: calc(100% - 200px);
    height: 196px;
    background-image: url('../img/bg-text.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.product__list{
    display: flex;
    row-gap: 35px;
    text-align: center;
    flex-grow: 1;
    justify-content: space-between;
}

@media only screen and (max-width: 1140px){
    
    .product__list{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.product__item{
    display: flex;
    flex-direction: column;
}

.product__text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product__title{
    font-size: 2.4rem;
    line-height: 32px;
    font-family: var(--secondary__font);
    font-weight: var(--black);
    color: var(--dark__grey__blue);
    margin-bottom: 24px;
}

.product__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 256px;
    height: 193px;
}

.product__par{
    max-width: 255px;
    max-height: 100px;
    overflow: hidden;
    margin-top: auto;
}

/* INTRO */

.content__intro{
    padding-bottom: 200px;
}

.intro__container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 315px;
    position: relative;
    z-index: 0;
}

.intro__container::before{
    content: '';
    width: calc(100% - 30px);
    height: 100%;
    background-color: var(--dark__grey__blue);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.intro__text{
    width: 540px;
    text-align: center;
}

.intro__heading{
    font-size: 4rem;
    line-height: 48px;
    margin-bottom: 32px;
}

.intro__par{
    opacity: .8;
    color: var(--light__cream);
}

.services__container{
    padding: 0 100px;
    margin-top: -232px;
}

.intro__services{
    display: flex;
    column-gap: 30px;
}

.services__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark__cyan);
    padding: 50px;
    padding-top: 70px;
    border-radius: 6px;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

.services__box::before{
    content: '';
    display: block;
    width: 72px;
    height: 72px;
    background-image: url('../ico/coffee-bean.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 55px;
}

.services__box:nth-child(2):before{
    background-image: url('../ico/exclusive-benefits.svg');
}

.services__box:nth-child(3):before{
    background-image: url('../ico/free-shipping.svg');
}

.box__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 255px;
    flex-grow: 1;
}

.box__title{
    font-size: 2.4rem;
    line-height: 32px;
    margin-bottom: 25px;
} 

.box__par{
    opacity: .8;
    color: var(--light__cream);
    margin-top: auto;
}

/* CTA */

.cta__container{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    padding-bottom: 200px;
}

.cta__heading{
    color: var(--grey);
    font-size: 2.4rem;
    line-height: 32px;
    margin-bottom: 80px;
}

.cta__list{
    display: flex;
    position: relative;
    margin-bottom: 65px;
    justify-content: space-between;
    padding-right: 65px;
}

.cta__line{
    border: none;
    margin: 0;
    width: 90%;
    height: 2px;
    background-color: var(--pale__orange);
    position: absolute;
    top: 15px;
    left: 0;
    z-index: -1;
}

.cta__item{
    width: 27.3%;
    display: flex;
    flex-direction: column;
}

.cta__item:last-child{
    background-color: var(--light__cream);
}

.cta__item::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--light__cream);
    border: 2px solid var(--dark__cyan);
    margin-bottom: 70px;
}

.cta__step{
    display: block;
    font-size: 7.2rem;
    line-height: 100%;
    font-family: var(--primary__font);
    color: var(--pale__orange);
    font-weight: var(--black);
    margin-bottom: 40px;
}

.cta__text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.cta__par{
    margin-top: auto;
}

.cta__title{
    color: var(--dark__grey__blue);
    font-size: 3.2rem;
    line-height: 36px;
    margin-bottom: 42px;
}

.cta__btn{
    align-self: flex-start
}


/* ==================================== */


/* TABLET */

@media only screen and (max-width: 992px){
    
    /* HERO */

    .hero__container{
        padding: 105px 100px;
    }

    .hero__container::before{
        width: calc(100% - 80px);
        background-position: 0 -354.2px;
        background-size: 1284px 854px;
    }

    .hero__text{
        width: 398px;
    }

    .hero__title{
        font-size: 4.8rem;
        line-height: 100%;
        margin-bottom: 25px;
    }

    .hero__par{
        font-size: 1.5rem;
        line-height: 25px;
        margin-bottom: 40px;
    }

    /* PRODUCTS */

    .content__products{
        padding: 145px 0;
    }

    .product__container::before{
        width: calc(100% - 45px);
        top: -110px;
    }

    .product__list{
        flex-direction: column;
        justify-content: initial;
    }

    .product__item{
        flex-direction: row;
        align-items: center;
    }

    .product__par{
        max-width: 100%;
        min-width: 255px;
        margin-top: 0;
    }

    .product__img{
        margin: 0;
        margin-right: 35px;   
    }

    .product__text{
        text-align: start;
        flex-grow: 0;
    }

    /* INTRO */

    .intro__container{
        padding-top: 55px;
        padding-bottom: 368px;
    }

    .intro__container::before{
        width: calc(100% - 80px);
    }

    .intro__heading{
        font-size: 3.2rem;
        line-height: 48px;
        margin-bottom: 25px;
    }

    .services__container{
        margin-top: -300px;
    }

    .intro__services{
        flex-wrap: wrap;
    }

    .services__box{
        flex-direction: row;
        padding: 40px 50px;
        margin-bottom: 25px;
    }

    .services__box::before{
        margin: 0;
        margin-right: 55px;
        margin-left: 30px;
        width: 55px;
        height: 55px; 
    }

    .box__text{
        text-align: start;
        max-width: calc(100% - 140px);
        align-items: flex-start;
        flex-grow: 1;
    }

    /* CTA */

    .cta__container{
        padding: 0 40px;
        padding-bottom: 145px;
    }

    .cta__list{
        padding-right: 0;
    }

    .cta__item{
        width: 32%;
    }
}

/* MOBLE */

@media only screen and (max-width: 576px){
    
    /* HERO */

    .hero__container{
        padding: 100px 50px;
    }

    .hero__container::before{
        width: calc(100% - 50px);
        background-position: -370px -354.2px;
        background-size: 1284px 854px;
    }

    .hero__container::after{
        content: '';
        width: calc(100% - 50px);
        height: 100%;
        position: absolute;
        background-color: #000;
        border-radius: 6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: .7;
    }

    .hero__text{
        width: 100%;
        text-align: center;
    }

    .hero__title{
        font-size: 3.9rem;
        line-height: 100%;
        margin-bottom: 25px;
    }

    .hero__par{
        width: 100%;
        margin-bottom: 40px;
    }

    /* PRODUCTS */

    .content__products{
        padding-top: 205px;
        padding-bottom: 120px;
    }

    .product__container{
        padding: 0 25px;
    }

    .product__container::before{
        width: calc(100% - 50px);
        height: 72px;
    }

    .product__list{
        row-gap: 50px;
    }

    .product__item{
        flex-direction: column;
    }

    .product__img{
        margin-bottom: 25px;
        margin-right: 0;
    }

    .product__text{
        text-align: center;
    }

    .product__title{
        margin-bottom: 16px;
    }

    .product__par{
        max-width: 100%;
    }

    /* INTRO */

    .content__intro{
        padding-bottom: 120px;
    }

    .intro__container::before{
        width: calc(100% - 50px);
    }

    .intro__container{
        padding-top: 65px;
        padding-bottom: 660px;
    }

    .intro__text{
        width: 100%;
        padding: 0 25px;
    }

    .intro__heading{
        font-size: 2.8rem;
        line-height: 100%;
    }

    .services__container{
        padding: 0 50px;
        margin-top: -595px;
    }

    .services__box{
        flex-direction: column;
        padding: 0 15px;
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .services__box::before{
        width: 72px;
        height: 72px;
        margin: 0;
        margin-bottom: 55px;
    }

    .box__text{
        max-width: 100%;
        text-align: center;
    }

    .box__title{
        width: 100%;
    }

    /* CTA */

    .cta__container{
        align-items: center;
    }

    .cta__line{
        display: none;
    }

    .cta__list{
        flex-direction: column;
        row-gap: 55px;
    }

    .cta__item{
        width: 100%;
        align-items: center;
    }

    .cta__item::before{
        content: none;
    }

    .cta__text{
        text-align: center;
    }

    .cta__title{
        font-size: 2.8rem;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .cta__par{
        margin-top: 0;
        font-size: 1.5rem;
    }

    .cta__btn{
        align-self: center;
    }
}